body {
  margin: 0;
  font-family: Arial;
  background: #f1f3f6;
}

header {
  background: #2874f0;
  color: white;
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

header input {
  flex: 1;
  padding: 8px;
}

.products {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
}

.product img {
  width: 100%;
}

button {
  background: #ff9f00;
  border: none;
  padding: 8px;
  cursor: pointer;
}
